.App {
    font-family: sans-serif;
    text-align: center;
 }
  
  nav .navbar-collapse {
    position: fixed;
    top: 56px;
    background: #1479de;
    right: -100%;
    width: 100vw;
    height: 100vh;
    display: block;
    padding-left: 50px;
    color: black;
    transition: right 0.3s ease;
  }
  
  nav .navbar-collapse.show {
    right: 0;
  }