.conteudo_principal {
    width: 100%;
    max-width: 1366px; /* Define a largura máxima da div */
    padding: 20px;
    background-color: white;
    border: 0px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    word-wrap: break-word; /* Quebra o texto automaticamente */
    overflow-wrap: break-word; /* Alternativa moderna para*/
  }

 
