    /* Importa estilos necessários para o slick */
    @import "~slick-carousel/slick/slick.css";
    @import "~slick-carousel/slick/slick-theme.css";

/* Contêiner do banner */
.banner {
    position: relative;
    width: 100%;
    height: 400px; /* Altura do banner */
    overflow: hidden;
  }
  
  /* Estilo da imagem 
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra o banner, mantendo a proporção 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }*/
  
  /* Conteúdo textual dentro do banner */
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(213, 16, 16);
    z-index: 2;
    text-align: center;
  }
  
  .banner-content h1 {
    font-size: 2.5rem;
    color: black; 
    margin: 0;
  }
  
  .banner-content p {
    font-size: 1.2rem;
  }  


/* App.css */
.banner-container {
  width: 960px; /* Largura do contêiner */
  margin: 0 auto; /* Centralizar */
}

.banner-image {
  width: 100%;
  height: 500px;
  max-height: 100%;
}

 /*responsividade do banner e fotos*/
 @media (max-width: 1000px) {

  .banner {
    height: 250px;
    min-height: 75%;
  }
 
 }
